:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --main-bg-color: #fff;
    --second-bg-color: #2f303a;
    --black: #000;
    --cards-bg-color: #f5f4fa;
    --project-bg-color: #eee;
}
body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
}
/* hide markers*/
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    font-style: normal;
}
/* WebStudio logo 2 colors*/
.logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.logo-studio {
    color: var(--black);
}
/* site-nav styles */
.site-nav .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}
.contacts-nav .link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}
.contacts-nav .link:hover,
.contacts-nav .link:focus {
    color: var(--accent-color);
}
.contacts-nav .link.current {
    color: var(--accent-color);
}
/* шапка */
.hero {
    background-color: var(--second-bg-color);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-bg-color);
}
.hero-button {
    color: var(--main-bg-color);
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}
button {
    font-family: inherit;
}
/* особливості */
.section-title {
    color: var(--title-text-color);
}
.title {
    color: var(--title-text-color);
}
.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.text-title {
    color: var(--main-text-color);
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
}
.title.whatwedo {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.section-team {
    background-color: var(--cards-bg-color);
}
.title.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.team-card {
    background-color: var(--main-bg-color);
}
.title.card {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.text-title.card {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/* footer */
.contacts {
    background-color: var(--second-bg-color);
}
.logo-studio-footer {
    color: var(--main-bg-color);
}
.footer-location .link {
    color: var(--main-bg-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-contacts .link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
    color: var(--accent-color);
}
/* portfolio.html*/
.filter {
    background-color: var(--cards-bg-color);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.filter:hover,
.filter:focus {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}
.filter-container {
    background-color: var(--project-bg-color);
}
.title.project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.text-title.project {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}